# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.local
.env.*.local
*.env

# Vercel & Deployments
.vercel/

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# IDE & Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
